<mat-card>
  <mat-card-title> Add Milestone </mat-card-title>
  <mat-card-subtitle> TFR ID: {{ tfrid }}</mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="!selectedMilestone">
      <mat-chip-list #chipList>
        <app-chip
          *ngFor="let milestone of milestones"
          [value]="milestone"
          (removeEmitter)="removeMilestone($event)"
          (selectEmitter)="selectMilestone($event)"
        ></app-chip>
        <mat-chip (click)="selectNew()">+</mat-chip>
      </mat-chip-list>
    </div>

    <form [formGroup]="milestoneForm" *ngIf="selectedMilestone">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Milestone Name: "
          type="text"
          formControlName="name"
        />
        <mat-error>name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea
          matInput
          placeholder="Milestone Description: "
          type="text"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Start date: Delivery Date</mat-label>
        <mat-date-range-input
          [rangePicker]="myRangePicker"
          [min]="getMinDate()"
          [max]="getMaxDate()"
        >
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Start date"
          />
          <input
            matEndDate
            formControlName="endDate"
            placeholder="Delivery Date"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          [for]="myRangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #myRangePicker></mat-date-range-picker>
        <mat-error>Dates must be within project timeframe</mat-error>
      </mat-form-field>

      <button mat-button type="button" (click)="saveSelected()">
        save milestone
      </button>
      <button mat-button type="button" (click)="discardSelected()">
        discard
      </button>
    </form>
    <button
      type="button"
      mat-button
      [disabled]="!(submittable && !selectedMilestone)"
      (click)="submitMilestones()"
    >
      submit
    </button>
  </mat-card-content>
</mat-card>
