<mat-card>
  <mat-card-title> Add Milestone </mat-card-title>
  <mat-card-subtitle> TFR ID: {{ tfrid }}</mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="!selectedMilestone">
      <mat-chip-list #chipList>
        <app-chip
          *ngFor="let milestone of milestones"
          [value]="milestone"
          (removeEmitter)="removeMilestone($event)"
          (selectEmitter)="selectMilestone($event)"
        ></app-chip>
      </mat-chip-list>
      <button (click)="selectNew()">add tfr</button>
    </div>

    <form [formGroup]="milestoneForm" *ngIf="selectedMilestone">
      <div>
        <label for="first-name">Milestone Name: </label>
      </div>
      <div>
        <input id="first-name" type="text" formControlName="name" />
      </div>
      <div>
        <label for="last-name">Milestone Description: </label>
      </div>
      <div>
        <input id="last-name" type="text" formControlName="description" />
      </div>
      <div>
        <label for="start-date">Start Date: </label>
      </div>
      <div>
        <input id="start-date" type="text" formControlName="startDate" />
      </div>
      <div>
        <label for="last-name">End Date: </label>
      </div>
      <div>
        <input id="last-name" type="text" formControlName="endDate" />
      </div>

      <button (click)="saveSelected()">save milestone</button>
      <button (click)="discardSelected()">discard</button>
    </form>
    <button *ngIf="submittable && !selectedMilestone">submit</button>
  </mat-card-content>
</mat-card>
